@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.928 0 89.876);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.002);
    backdrop-filter: blur(20px);
  }

  .electron-drag {
    -webkit-app-region: drag;
  }
  .electron-no-drag {
    -webkit-app-region: no-drag;
  }

  .lsp_typst_type_keyword {
    color: #d73948;
  }

  .lsp_typst_type_string {
    color: #198810;
  }

  .lsp_typst_type_function {
    color: #4b69c6;
  }

  .lsp_typst_type_comment {
    color: #5c6370;
    font-style: italic;
  }

  .lsp_typst_type_raw {
    color: #198810;
  }

  .lsp_typst_type_escape {
    color: #56b6c2;
  }
  .lsp_typst_type_operator {
    color: #abb2bf;
  }
  .lsp_typst_type_punct {
    color: #abb2bf;
  }
  .lsp_typst_type_delim {
    color: #abb2bf;
  }
  .lsp_typst_type_number {
    color: #d19a66;
  }
  .lsp_typst_type_bool {
    color: #d19a66;
    font-weight: 600;
  }

  .lsp_typst_type_decorator {
    color: #e5c07b;
  }

  .lsp_typst_type_type {
    color: #56b6c2;
  }

  .lsp_typst_type_namespace {
    color: #56b6c2;
  }
  .lsp_typst_type_link {
    color: #61afef;
    text-decoration: underline;
  }

  .lsp_typst_type_label {
    color: #e5c07b;
  }
  .lsp_typst_type_ref {
    color: #e5c07b;
    text-decoration: underline;
  }
  .lsp_typst_type_heading {
    color: #000;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: underline;
  }

  .lsp_typst_type_marker {
    color: #c678dd;
  }

  .lsp_typst_type_term,
  .lsp_typst_type_pol {
    color: #e06c75;
  }

  .lsp_typst_type_error {
    color: #e06c75;
    text-decoration: underline wavy;
  }

  /* 编辑器主题 */
  .cm-tooltip-autocomplete {
    z-index: 9999;
    border-radius: var(--radius-md);
    overflow: hidden;
    height: auto !important;
    box-shadow:
      0 0 0 1px var(--border),
      0 4px 12px rgba(0, 0, 0, 0.1);
    > ul {
      max-height: 600px !important;
    }
  }
  .cm-tooltip-autocomplete li[aria-selected="true"] {
    background-color: rgb(36, 122, 255) !important;
    .cm-completionLabel {
      font-size: 15px;
      font-weight: 500;
      padding: 0 4px;
    }
    .cm-completionDetail {
      white-space: normal !important;
      word-break: break-word !important;
      max-width: 320px !important;
      overflow: hidden;
      text-overflow: ellipsis !important;
      display: -webkit-box !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      font-size: 12px !important;
      margin-bottom: 4px !important;
    }
  }

  .cm-tooltip-autocomplete li {
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .cm-completionLabel {
      padding: 0 4px;
    }
    .cm-completionDetail {
      display: none;
    }
    &:hover {
      background-color: rgb(36, 122, 255) !important;
      color: rgba(255, 255, 255);
    }
  }

  /* .cm-tooltip,
  .cm-tooltip-autocomplete {
    z-index: 9999;
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow:
      0 0 0 1px var(--border),
      0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .cm-tooltip,
  .cm-tooltip-autocomplete {
    background: var(--popover);
    color: var(--popover-foreground);
  }
  .cm-tooltip-autocomplete {
    padding: 6px;
    min-width: 280px;
    max-width: 420px;
  }

  .cm-tooltip-autocomplete .cm-completionMatchedText {
    color: var(--primary);
  }

  .cm-editor,
  .cm-scroller {
    overflow: visible;
  } */
}
